<div class="hero-unit">
<h1>New Bike</h1>

<%= form_for(:bike, :url => {:action => 'create'} ) do |field| %>

<%= render(:partial => "form", :locals => {:field => field}) %>

<div style="text-align: center">
    <%= link_to("Return", {:action => 'index'}, :class => 'btn btn-warning') %>
    <%= link_to("List of bikes", {:action => 'show'}, :class => 'btn') %>
    <%= submit_tag("Create", :class => 'btn btn-primary') %>
</div>

<% end %>
</div>
