<!-- TODO: add bootstrap -->
<!-- TODO: there is no 'dynamic' ruby used inside (pure static page) -->
<!DOCTYPE HTML>

<html>
<!-- This website supports HTML5 -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
        footer { position: absolute; bottom: 0; }
        .nav-left { float: left; }
        table, th, td { border: 1px solid black;}
        h1 { text-align: center; }
</style>
    <title>Zadanie 1</title>
</head>

<body>

<!-- border="0" alt="Null" -->
<nav class="nav-left">
        <img alt="Logo - Polish-Japanese Academy of Information Technology"
            src="https://lh6.ggpht.com/HqisYx9M5rnQuCJJlVgHgK2ZsoA0BtFbQTfzBv-_Sqa-00edrpv9cg6iZFi6xwXkDJQ=w300" style='width:35%;' >
<ul>
        <li><%= link_to("Wykonane polecenie", {:action => 'show'}) %></li>
        <li><%= link_to("Wykonane polecenie", {:action => 'show'}) %></li>
        <li><%= link_to("Wykonane polecenie", {:action => 'show'}) %></li>
        <li><%= link_to("Wykonane polecenie", {:action => 'show'}) %></li>
        <li><%= link_to("Wykonane polecenie", {:action => 'show'}) %></li>
    </ul>
</nav>
<div id="main-content">
    <article>
        <h1>Projekt</h1>
    <hr>
        <h4>Projekt witryny sklepu rowerowego</h4>
        <p>Głównym tematem witryny internetowej będzie sklep internetowy sprzedający rowery górskie.</p>
        <h4>Założenia</h4>
    <ol>
        <li>Możliwość dokonywania zakupu.</li>
        <li>Możliwość tekstowego i "gwiazdkowego" oceniania produktów. (odpowiednie zapisy w Bazie danych?)</li>
        <li>Przy możliwości dokonywania zakupu, informacje o zamówieniu zapisywane będą do tabeli Orders bazy danych(?)</li>
        <li>Udostępnianie informacji o produkicie/produktach w formacie JSON (?)</li>
        <li>Konsumowanie JSONow z pogoda(?)</li>
    </ol>
        <h4>Przykładowe produkty</h4>
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Rok produkcji</th>
        </tr>
        <tr>
            <td>Scott</td>
            <td>1500</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>Kross</td>
            <td>900</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>Focus</td>
            <td>1500</td>
            <td>2017</td>
        </tr>
        </table>
    </article>

</div>
<!-- Change footer so that it sticks to the bottom -->
<footer>
    <i>Simple footer</i>
</footer>

</body>

</html>


